.carousel-container {
    width: 100%;
    margin: 0 auto;
  }
  
  .carousel-slide {
    display: flex !important;
    justify-content: center;
    position: relative;
    text-align: center;
  }
  
  .carousel-slide img {
    max-width: 100%;
    height: 350px;
    object-fit: cover;
  }
  
  .slick-prev,
  .slick-next {
    font-size: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
  }
  
  .slick-prev {
    left: 0px;
  }
  
  .slick-next {
    right: 9px;
  }
  
  .slick-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .slick-dots li {
    margin: 0 5px;
    display: inline-block;
  }
  
  .slick-dots li button {
    font-size: 12px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 2px;
  }



  .slick-dots li.slick-active button:before {
      opacity: .75;
      color: rgb(255, 255, 255);
      
  }

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 30px;
  line-height: 1;
  opacity: 0,75; 
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
