.containerPagos{
    margin: 20px auto 0;
    background-color: aqua;
    width: 1200px;
    height: 100px;
}

.pagos{
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.pagos div div {
    display: flex;
    flex-direction: column;
}