
body{
  background: rgba(0,0,0,.1);
  height: 2000px;
  -webkit-font-smoothing: antialiased;
  background-color: #ebebeb;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 13px;
}